// 側邊欄選單按鈕
.sideMenuBtn {
	display: flex;
	align-items: center;
	padding: 16px;

	width: 195px;

	.icon {
		width: 30px;
		height: 30px;
		color: $secondary;
	}
	
	.linkTitle > span{      // 父層為class linkTitle的所有span標籤
		margin-left: 24px;
		color: $secondary;
	}
}

// 大頁籤按鈕
.tab {
	padding: 10px 32px;
	border-radius: 10px;
	background-color: $bgc;
	border: 2px solid $primary;
	color: $secondary;
	box-shadow: $shadow;

	&:active {
		background-color: $primary;
		border: 0;
		color: $fontLight;
	}
}

