// 側邊欄選單按鈕
.sideMenuBtn {
	display: flex;
	align-items: center;
	padding: 16px;

	.icon {
		width: 30px;
		height: 30px;

    * {
      color: $secondary;  // *代表icon裡面的<svg>、<path>
    }
  }
  .linkTitle > span{      // 父層為class linkTitle的所有span標籤
    margin-left: 24px;
    color: $secondary;
  }
}   

// 頁籤按鈕
.tabStyle {
	padding: 10px 32px;
	border-radius: 10px;
	border: 2px solid $primary;
	margin: 0 16px 8px 0; 

	&:active {
		background-color: $primary;
		color: $fontLight;
	}
}

.btn {
  // 小按鈕樣式
  &.btnMd {
    padding: 5px 16px;
    border-radius: 20px;
    border: 1px solid $secondary;
    font-size: 0.875rem;

    &:active {
      background-color: $primary;
      color: $fontLight;
    }
  }

  // 大按鈕樣式
  &.BtnLg {
    padding: 8px 72px;
    border-radius: 10px;
    
    // 確定、結帳樣式
    &.BtnLgPrimary {
      background-color: $primary;
      color: $fontLight;
      border: 1px solid $primary;
    }
  
    // 返回、取消樣式
    &.BtnLgSecondary{
      border: 1px solid $secondary;
    }
  }

  // 修改按鈕、刪除按鈕
  &.btnSm {
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $white;
    padding: 3px;
  }

  .icon {
    width: 24px;
    height: 24px;

    * {
      color: $primary;
    }
  }
}
