header {
  height: 70px;
	box-shadow: $layoutShadow;
	display: flex;

	// searchBar區塊
	.searchBar {
		position: relative;
		width: calc(100% - 400px);
		padding: 16px;

		// 搜尋框樣式
		.searchBarStyle {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: 0;
			background-color: $secondary;
			box-shadow: $shadow;
			padding-left: 16px;

			&::placeholder {
				color: $icon;
			}
		}

		.icon {
			width: 32px;
			height: 32px;
			color: $icon;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 24px;
		}
	}

	// userArea區塊
	.userArea {
		width: 400px;
		padding: 16px;
		display: flex;
		justify-content: flex-end;
		align-items: center; 

		.userContent {
			text-align: right;
		}

		.userId, .userName{
			font-size: 0.875rem;
			line-height: 20px;
		}
		
		.userPhoto {
			position: relative;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			margin: 0 8px 0 24px;
			background-color: $secondary;
			box-shadow: $shadow;

			.icon {
				width: 30px;
				height: 30px;
				color: $icon;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
}