.loadingStyle {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mask;
  // 毛玻璃
  backdrop-filter: blur(3px);

  // 置中
  display: flex;
  justify-content: center;
  align-items: center;
}