// 平板尺寸
@mixin pad{
  @media(max-width:1024px){
    @content;
  }
}
// 手機尺寸 
@mixin mobile{
  @media(max-width:768px){
    @content;
  }
}

.layout {
	display: flex;

	.lBlock {
		z-index: 100;
    position: fixed;
    top: 0;
    transition: margin-left 0.25s;
    &.collapsed {
      margin-left: -227px;
    }
    @include pad {
      margin-left: -227px;
    }
	}

  .rBlock {
		width: calc(100vw - 227px);
    margin-left: 227px;
    height: 100vh;
    transition: width 0.25s, margin-left 0.25s;
    &.collapsed {
      width: 100vw;
      margin-left: 0;
    }
    @include pad {
      width: 100vw;
      margin-left: 0;
    }
	}
}

.container {
	padding: 16px;
}

